<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDPS 試験管理画面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        /* h1 を少し左にずらす */
        .title {
            font-size: 2em;
            color: #333;
            margin-left: -205px; /* 左に205pxずらす */
        }
    </style>
</head>

<body>
    <div class="container">
        
        <!-- サイドバー -->
        {% include 'KDPS/menu.html' %}
        
        <!-- タイトルとメインコンテンツ -->
        <div class="main-content">
            <h1 class="title">試験管理</h1>
            <div class="grid-container">
                <div class="grid-item">
                    <a href="#">試験新規作成</a>
                    <img src="{% static 'img/試験01試験新規作成_試験管理画面.png' %}" alt="試験作成">
                </div>
                <div class="grid-item">
                    <a href="#">試験情報編集</a>
                    <img src="{% static 'img/試験02試験情報編集_試験管理画面.png' %}" alt="試験編集">
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/your_font_awesome_kit.js" crossorigin="anonymous"></script>
</body>
</html>
