<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メインメニュー画面</title>
    {% load static %} <!-- static タグをロード -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- CSS ファイルのパスを指定 -->
</head>

<body>
    <div class="container">
        {% include 'studentmenu/studentsidebar.html' %} <!-- サイドバーの読み込み -->

        <div class="main-content">
            <div class="grid-container">

                <a href="#" class="grid-item">
                    <img src="{% static 'img/生徒01成績表示_生徒メインメニュー.png' %}" alt="成績表示">
                    <p>成績表示</p>
                </a>

                    <a href="http://127.0.0.1:8000/schedule_view/"class="grid-item">
                    <img src="{% static 'img/07スケジュール管理_教員メインメニュー.png' %}" alt="スケジュール表示">
                    <p>スケジュール表示</p>
                </a>

                <a href="{% url 'studenthome' %}" class="grid-item">
                    <img src="{% static 'img/自動採点_教員メインメニュー.png' %}" alt="自動採点">
                    <p>自動採点</p>
                </a>
               
            </div>
        </div>
    </div>
</body>

</html>