<div class="sidebar">
    <h1 class="no-hover"><a href="{% url 'studentmenu' %}">KDPS</a></h1>

    <ul>
        <li><a href="{% url 'studentmenu' %}">メインメニュー</a></li>
        <li><a href="#">成績表示</a></li>
        <li><a href="http://127.0.0.1:8000/schedule_view/">スケジュール表示</a></li>
        <li><a href="{% url 'studenthome' %}">自動採点</a></li>
        
    </ul>
    <div class="logout">
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
        
    </div>
</div>