<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>KDPS 試験編集</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- サイドバー用の外部CSSを読み込み -->
</head>
<body>
    <!-- サイドバー -->
    <div class="container">
        {% include 'KDPS/menu.html' %}

        <!-- メインコンテンツ -->
        <div class="main-content">
            <h1 class="title">試験編集</h1>
            <form method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>試験ID</th>
                        <td>{{ form.exam_id }}</td>
                    </tr>
                    <tr>
                        <th>試験名</th>
                        <td>{{ form.exam_name }}</td>
                    </tr>
                    <tr>
                        <th>教員ID</th>
                        <td>{{ form.teacher_id }}</td>
                    </tr>
                </table>
                <button type="submit">更新</button>
            </form>
            <a href="{% url 'test_list' %}">戻る</a>
        </div>
    </div>
</body>
</html>
