<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成績管理画面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        /* h1 を少し左にずらす */
        .title {
            font-size: 2em;
            color: #333;
            margin-left: -205px; /* 左に205pxずらす */
        }
    </style>
</head>

<body>
    <div class="container">
        
        <!-- サイドバー -->
        {% include 'KDPS/menu.html' %}
        
        <!-- タイトルとメインコンテンツ -->
        <div class="main-content">
            <h1 class="title">成績管理</h1>
            <div class="grid-container">
                
                <a href="{% url 'student_scores' %}" class="grid-item">
                    <img src="{% static 'img/個人成績確認.png' %}" alt="個人成績確認">
                    <p>個人成績確認</p>
                </a>

                <a href="{% url 'overall_student_scores' %}" class="grid-item">
                    <img src="{% static 'img/全体成績確認.png' %}" alt="全体成績確認">
                    <p>全体成績確認</p>
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/your_font_awesome_kit.js" crossorigin="anonymous"></script>
</body>
</html>
