<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>試験開始</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- サイドバー用の外部CSS -->
    <style>
        .grading-container {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f9f9f9;
        }
        .styled-text {
            color: #007BFF; /* 任意の色 */
            text-decoration: underline; /* アンダーバー */
            font-weight: bold; /* 任意で太字 */
        }
    </style>
</head>

<body>
    <div class="container">
        {% include 'studentmenu/studentsidebar.html' %} <!-- サイドバー -->
        <div class="grading-container">
            <h1>{{ test.test_name }} - 問題リスト</h1>
            <ul>
                {% for question in questions %}
                <li>
                    <a href="{% url 'studentanswer_question' question.id %}"><span class="styled-text">{{ question.content }}</span></a>
                </li>
                {% empty %}
                <p>この試験には問題がありません。</p>
                {% endfor %}
            </ul>

            <form method="POST" action="{% url 'studentsubmit_answers' test.test_id %}">
                {% csrf_token %}
                <button type="submit">全ての解答を最終提出する</button>
            </form>
        </div>
    </div>
</body>

</html>