<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KDPS{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <!-- サイドバー -->
        {% include 'KDPS/menu.html' %}

        <!-- メッセージ表示（トースト通知） -->
        <div id="toast-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="toast">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>
        
        <!-- ページごとのコンテンツ -->
        <div class="main-content">
            {% block content %}
            <!-- ページ固有のコンテンツ -->
            {% endblock %}
        </div>
    </div>

    <!-- トースト通知のJavaScript -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function () {
                const toasts = document.querySelectorAll('.toast');
                toasts.forEach(function (toast) {
                    toast.style.opacity = '0';  // 透明にする
                    setTimeout(function () {
                        toast.style.display = 'none';  // 500ms後に完全に非表示
                    }, 500);  // opacityが変化した後にdisplayをnoneに設定
                });
            }, 3000);  // 3秒後に通知を消す
        });
    </script>
</body>
</html>
