<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メインメニュー画面</title>
    {% load static %} <!-- static タグをロード -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- CSS ファイルのパスを指定 -->
</head>

<body>
    <div class="container">
        {% include 'KDPS/menu.html' %} <!-- サイドバーの読み込み -->

        <div class="main-content">
            <div class="grid-container">
                <div class="grid-item">
                    <a href="#">自動採点</a>
                    <img src="{% static 'img/自動採点_教員メインメニュー.png' %}" alt="自動採点">
                </div>
                <div class="grid-item">
                    <a href="#">成績管理</a>
                    <img src="{% static 'img/成績管理_教員メインメニュー.png' %}" alt="成績管理">
                </div>
                <div class="grid-item">
                    <a href="#">試験管理</a>
                    <img src="{% static 'img/試験管理_教員メインメニュー.png' %}" alt="試験管理">
                </div>
                <div class="grid-item">
                    <a href="#">成績一覧</a>
                    <img src="{% static 'img/成績一覧_教員メインメニュー.png' %}" alt="成績一覧">
                </div>
                <div class="grid-item">
                    <a href="#">答案アップロード</a>
                    <img src="{% static 'img/05答案アップロード_教員メインメニュー.png' %}" alt="答案アップロード">
                </div>
                <div class="grid-item">
                    <a href="#">生徒新規登録</a>
                    <img src="{% static 'img/06生徒新規登録_教員メインメニュー.png' %}" alt="生徒新規登録">
                </div>
                <div class="grid-item">
                    <a href="#">スケジュール管理</a>
                    <img src="{% static 'img/07スケジュール管理_教員メインメニュー.png' %}" alt="スケジュール管理">
                </div>
                <div class="grid-item">
                    <a href="#">レポート</a>
                    <img src="{% static 'img/08レポート_教員メインメニュー.png' %}" alt="レポート">
                </div>
                <div class="grid-item">
                    <a href="admin.html">管理者画面</a>
                    <img src="{% static 'img/09管理者画面_教員メインメニュー.png' %}" alt="管理者画面">


                </div>
            </div>
        </div>
    </div>
</body>

</html>