<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1>自動採点</h1>
        {% load static %} <!-- static タグをロード -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% include 'KDPS/menu.html' %} <!-- サイドバーの読み込み -->
        <h3>試験名の選択</h3>
        <select mame="Exam selection" id="Exam selection">
            <option value="">試験名を選択してください</option>
            <option value="java">Java試験</option>
            <option value="python">Python試験</option>
            <option value="JavaScript">JavaScript試験</option>
        </select>
        <img src="{% static 'KDPSproject/static/img/採点01アイコン_採点設定画面.png' %}" alt="採点アイコン" title="採点アイコン">
        <a href="" class="button">採点基準の設定</a>
        <label class="form-label" for="id_username">氏名</label>
        <input type="text" name="username" id="id_username">
            {{ form.username }}
        <label class="form-label" for="id_class_name">クラス</label>
        <input type="text" name="class_name" id="id_class_name">
            {{ form.class_name }}
        <label class="form-label" for="id_attendance_number">出席番号</label>
        <input type="text" name="attendance_number" id="id_attendance_number">
            {{ form.attendance_number}}
        <button type="button">採点開始</button>
    </body>
</html>