<div class="sidebar">
    <h1 class="no-hover"><a href="{% url 'index' %}">KDPS</a></h1>

    <ul>
        <li><a href="{% url 'index' %}">メインメニュー</a></li>
        <li><a href="{% url 'mark' %}">自動採点</a></li>
        <li><a href="{% url 'Grademenu' %}">成績管理</a></li>
        <li><a href="{% url 'exam_management' %}">試験管理</a></li>
        <li><a href="{% url 'student_list' %}">生徒一覧</a></li>
        <li><a href="{% url 'upload' %}">答案アップロード</a></li>
        <li><a href="{% url 'schedule' %}">スケジュール画面</a></li>
        <li><a href="{% url 'admin_page' %}">管理者画面</a></li>
        <li><a href="{% url 'student_register' %}">生徒新規登録</a></li>
        <li><a href="{% url 'report' %}">レポート</a></li>
    </ul>
    <div class="logout">
        <a href="#">ログアウト</a>
    </div>
</div>