<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人成績レポート</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- CSSファイルのリンク -->
</head>
<body>
    <div class="container"> <!-- コンテナ -->
        {% include "KDPS/menu.html" %} <!-- サイドバーの読み込み -->

        <div class="main-content individual-report-container"> <!-- メインコンテンツ -->
            <h2>個人成績レポート</h2>

            <div class="report-content">
                <div class="student-select">
                    <label for="student-select">試験名の選択</label>
                    <select id="student-select">
                        <option>試験名を選択してください</option>
                        <option>Java試験</option>
                        <option>Python試験</option>
                        <option>JavaScript試験</option>
                    </select>
                </div>

                <div class="score-input">
                    <label for="score-input">試験の点数を入力してください</label>
                    <button class="decrease">-</button>
                    <input type="number" id="score-input" value="80" />
                    <button class="increase">+</button>
                    <button id="add-score-button">追加</button>
                </div>
            </div>

            <h3>大原 太郎</h3>
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>試験名</th>
                        <th>点数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Java試験</td>
                        <td>78</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Python試験</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <button id="save-button">一時保存</button>
                <button id="distribute-button">配信</button>
            </div>
            <a href="{% url 'overall_report' %}" class="link-report">全体成績レポートへ</a>
        </div>
    </div>
</body>
</html>
